<div class="container">
  <h2 id="menu-categories-title" class="text-center">My Information</h2>

  <div ng-if="!userInfoCtrl.userPrefs">

      <div class="text-center">

    Not Signed Up Yet.
    <a ui-sref="public.signup">Sign up Now!</a>
  </div>
   </div>
  

  <div ng-if="userInfoCtrl.userPrefs">
    <div class="text-center">
      Information You Entered:
    </div>
    <br>

    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2">First Name:</div>
      <div class="col-xs-8 col-sm-9 col-md-10">{{ userInfoCtrl.userPrefs.firstname }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2">Last Name:</div>
      <div class="col-xs-8 col-sm-9 col-md-10">{{ userInfoCtrl.userPrefs.lastname }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2">Email:</div>
      <div class="col-xs-8 col-sm-9 col-md-10">{{ userInfoCtrl.userPrefs.email }}</div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-3 col-md-2">Phone:</div>
      <div class="col-xs-8 col-sm-9 col-md-10">{{ userInfoCtrl.userPrefs.phone }}</div>
    </div>
    
    <br>    
 <br>   
   <br>   
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-2">Favorite Dish:</div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="menu-item-photo">
          <div>{{userInfoCtrl.userPrefs.menuItem.short_name}}</div>
          <img class="img-responsive" width="250" height="150" ng-src="{{userInfoCtrl.basePath}}/images/{{userInfoCtrl.userPrefs.menuItem.short_name}}.jpg" alt="{{userInfoCtrl.userPrefs.menuItem.name}}">
        </div>
      </div>
      <div class="menu-item-description col-xs-12 col-sm-5 col-md-6">
        <h3 class="menu-item-title">{{userInfoCtrl.userPrefs.menuItem.name}}</h3>
        <p class="menu-item-details">{{userInfoCtrl.userPrefs.menuItem.description}}</p>
      </div>
    </div>
</div>
</div>
